{# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp #}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title|default('Interfacing') }}</title>
</head>
<body style="font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu; margin:0;">
  <div style="padding:16px;max-width:980px;margin:0 auto;">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
