INTERFACING_CATEGORY_API_BASE_URL="http://localhost:8080"
INTERFACING_CATEGORY_API_TIMEOUT_MS=2500
INTERFACING_CATEGORY_API_LIST_PATH="/category/admin/category"
INTERFACING_CATEGORY_API_READ_PATH="/category/admin/category/{id}"
INTERFACING_CATEGORY_API_SAVE_PATH="/category/admin/category/{id}"
