parameters:
  level: max
  paths:
    - src
    - tests
  checkGenericClassInNonGenericObjectType: true
  checkMissingIterableValueType: true
  inferPrivatePropertyTypeFromConstructor: true
  scanFiles:
    - tools/phpstan/stubs/apiplatform.stub.php
    - tools/phpstan/stubs/graphql.stub.php
    - tools/phpstan/stubs/symfony_form.stub.php
    - tools/phpstan/stubs/symfony_uid.stub.php
