parameters:
    level: 5
    paths:
        - src
        - tests
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
