{# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp #}
<section class="if-card">
  <h2 class="if-card-title">{% block if_sidebar_card_title %}{% endblock %}</h2>
  {% block if_sidebar_card_body %}{% endblock %}
</section>
