{# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp #}
<div>
  <div style="font-weight:600;margin-bottom:8px;">Form demo</div>
  {{ component('interfacing_widget_form', { handlerId: 'demo-profile', context: this.context }) }}
</div>
