
{# 
Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp
#}
<div>
  <div style="font-weight:600;margin-bottom:8px;">Grid demo</div>
  {{ component('interfacing_widget_data_grid', { providerKey: 'demo', context: this.context }) }}
</div>
