{# 
Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp
#}
<div>
  <div style="font-weight:600;margin-bottom:8px;">Health</div>
  <div>env: {{ this.env }}</div>
  <div style="margin-top:10px;">
    <a href="/interfacing/health">/interfacing/health</a>
  </div>
</div>
