{# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp #}
<div>
  <div style="font-weight:800;margin-bottom:8px;">Metrics demo</div>
  {{ live_component('interfacing_widget_metric', { providerId: 'demo', context: this.context }) }}
</div>
