{# Copyright (c) 2025 Oleksandr Tishchenko / Marketing America Corp #}
<div>
  <div style="font-weight:600;margin-bottom:8px;">Wizard demo</div>
  {{ component('interfacing_widget_wizard', { handlerId: 'demo-onboarding', context: this.context }) }}
</div>
